<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>


        <a href="https://www.epfl.ch/labs/cosmo/">Postdoctoral Researcher / COSMO-naut</a>
        <br>
        <a href="https://reactmi.org">Developer of REACT Workshop</a>
        <br>
	<br>
        <p style="font-size:16px">
        <strong>
          <a href="/">Hello!</a>
        </strong>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="/#talks">Upcoming Talks</a>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="/#papers">Preprints / Publications</a>
        <br>
        <strong>
          <a href="/news">News Feed</a>
        </strong>
        <br>
        <strong>
          <a href="/cv">Resume / CV</a>
        </strong>
        <br>
        <strong>
          <a href="/outreach">Workshops and Outreach</a>
        </strong>
        <br>
        <strong>
          <a href="/gallery">Gallery and Media</a>
        </strong>
        </p>

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
